<!doctype html>
<title>{% block title %}{% endblock %} - hagg_chess</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Chess</h1>
  <ul>
    <li><a href="{{ url_for('start') }}">New game</a>
    <li><a href="{{ url_for('list_games') }}">View games</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>