table.chessboard {
    margin: 80px auto;
    background: #e1ffe1;
    border: 8px solid #333;
    border-collapse: collapse;
}

/* colors:
#ba7a2d
#1c85cd
#999;
#360
*/

td.chessboard {
    width: 70px; height: 70px;
    border: 2px solid #333;
    text-align: center;
    /* display: table-cell; */
    /* font-size:50px; */
}
tr.chessboard:nth-child(odd) td.chessboard:nth-child(even),
tr.chessboard:nth-child(even) td.chessboard:nth-child(odd) {
    background: #117713;
}