<meta charset="UTF-8">
<link rel="stylesheet" href="board.css" />
<script src="board.js"></script>

<table id="board-id" class="chessboard">
<tr id="8" class="chessboard">
    <td id= "a8" class="chessboard a"></td>
    <td id= "b8" class="chessboard b"></td>
    <td id= "c8" class="chessboard c"></td>
    <td id= "d8" class="chessboard d"></td>
    <td id= "e8" class="chessboard e"></td>
    <td id= "f8" class="chessboard f"></td>
    <td id= "g8" class="chessboard g"></td>
    <td id= "h8" class="chessboard h"></td>
</tr>
<tr id="7" class="chessboard">
    <td id= "a7" class="chessboard a"></td>
    <td id= "b7" class="chessboard b"></td>
    <td id= "c7" class="chessboard c"></td>
    <td id= "d7" class="chessboard d"></td>
    <td id= "e7" class="chessboard e"></td>
    <td id= "f7" class="chessboard f"></td>
    <td id= "g7" class="chessboard g"></td>
    <td id= "h7" class="chessboard h"></td>
</tr>
<tr id="6" class="chessboard">
    <td id= "a6" class="chessboard a"></td>
    <td id= "b6" class="chessboard b"></td>
    <td id= "c6" class="chessboard c"></td>
    <td id= "d6" class="chessboard d"></td>
    <td id= "e6" class="chessboard e"></td>
    <td id= "f6" class="chessboard f"></td>
    <td id= "g6" class="chessboard g"></td>
    <td id= "h6" class="chessboard h"></td>
</tr>
<tr id="5" class="chessboard">
    <td id= "a5" class="chessboard a"></td>
    <td id= "b5" class="chessboard b"></td>
    <td id= "c5" class="chessboard c"></td>
    <td id= "d5" class="chessboard d"></td>
    <td id= "e5" class="chessboard e"></td>
    <td id= "f5" class="chessboard f"></td>
    <td id= "g5" class="chessboard g"></td>
    <td id= "h5" class="chessboard h"></td>
</tr>
<tr id="4" class="chessboard">
    <td id= "a4" class="chessboard a"></td>
    <td id= "b4" class="chessboard b"></td>
    <td id= "c4" class="chessboard c"></td>
    <td id= "d4" class="chessboard d"></td>
    <td id= "e4" class="chessboard e"></td>
    <td id= "f4" class="chessboard f"></td>
    <td id= "g4" class="chessboard g"></td>
    <td id= "h4" class="chessboard h"></td>
</tr>
<tr id="3" class="chessboard">
    <td id= "a3" class="chessboard a"></td>
    <td id= "b3" class="chessboard b"></td>
    <td id= "c3" class="chessboard c"></td>
    <td id= "d3" class="chessboard d"></td>
    <td id= "e3" class="chessboard e"></td>
    <td id= "f3" class="chessboard f"></td>
    <td id= "g3" class="chessboard g"></td>
    <td id= "h3" class="chessboard h"></td>
</tr>
<tr id="2" class="chessboard">
    <td id= "a2" class="chessboard a"></td>
    <td id= "b2" class="chessboard b"></td>
    <td id= "c2" class="chessboard c"></td>
    <td id= "d2" class="chessboard d"></td>
    <td id= "e2" class="chessboard e"></td>
    <td id= "f2" class="chessboard f"></td>
    <td id= "g2" class="chessboard g"></td>
    <td id= "h2" class="chessboard h"></td>
</tr>
<tr id="1" class="chessboard">
    <td id= "a1" class="chessboard a"></td>
    <td id= "b1" class="chessboard b"></td>
    <td id= "c1" class="chessboard c"></td>
    <td id= "d1" class="chessboard d"></td>
    <td id= "e1" class="chessboard e"></td>
    <td id= "f1" class="chessboard f"></td>
    <td id= "g1" class="chessboard g"></td>
    <td id= "h1" class="chessboard h"></td>
</tr>
</table>