<meta charset="UTF-8">
<link rel="stylesheet" href="./board.css" />
<script src="./board.js"></script>

<table id="board-id" class="chessboard"></table>

<div id="white-loss"></div>
<div id="black-loss"></div>